{% extends "admin/base_admin.html" %}
{% load static %}


{% block titulo_pestania %}Añadir Catastro Vehiculos{% endblock titulo_pestania %}

{% block contenido_dinamico %}
<link rel="stylesheet" href="{% static 'css/admin/catastro_industrial.css' %}">
<link rel="stylesheet" href="{% static 'css/ventanaModal.css' %}">
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div id="app">
	{% if request.user.cargo == 'administrador' %}
	<div id="contenedor-formulario">
		<div class="titulo-">
			<h2>Ingresar Vehiculo</h2>
		</div>

		<form action="" method="POST">
			{% csrf_token %}
			<div>
				<input type="text" required placeholder="Carroceria" name="carroceria">
				<input type="text" required placeholder="Clase" name="clase">
				<!-- <input type="text" required placeholder="Samu" name="samu"> -->
				<select name="samu" id="">
					<option value="" disabled selected>Seleccione una opción (Samu )</option>
					<option value="SI">Si</option>
					<option value="NO">No</option>
				</select>
			</div>

			<div>
				<input type="text" required placeholder="Función" name="funcion">
				<input type="text" required placeholder="Marca" name="marca">
				<input type="text" required placeholder="Modelo" name="modelo">
			</div>

			<div>
				<input type="number" required placeholder="Kilometraje" name="kilometraje">
				<input type="text" required placeholder="Criticidad" name="criticidad">
				<input type="text" required placeholder="Propiedad" name="propiedad">
			</div>

			<div>
				<input type="text" required placeholder="Patente" name="patente">
				<input type="text" required placeholder="Numero de motor" name="numero-motor">
				<select name="institucion">
					<option value="" disabled selected>Seleccione una ciudad</option>
					<option value="1">Lebu</option>
					<option value="2">Arauco</option>
					<option value="4">Cañete</option>
					<option value="3">Curanilahue</option>
					<option value="5">Contulmo</option>
				</select>
			</div>

			<div>
				<select name="estado" id="">
					<option value="" disabled selected>Seleccione un estado</option>
					<option value="BUENO">Bueno</option> <!-- Bueno - Regular - Malo - Baja -->
					<option value="REGULAR">Regular</option>
					<option value="MALO">Malo</option>
					<option value="BAJA">Baja</option>
				</select>
				<input type="submit" value="Agregar">
				{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li style="color: green;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>





		</form>
	</div>
	{% elif request.user.cargo == 'usuario' %}
	{% endif %}

</div>

<!-- <script src="{% static 'js/admin/catastro_vehiculo.js' %}"></script> -->









{% endblock contenido_dinamico %}