{% extends "admin/base_admin.html" %}
{% load static %}


{% block titulo_pestania %}Añadir Catastro Industrial{% endblock titulo_pestania %}

{% block contenido_dinamico %}
<link rel="stylesheet" href="{% static 'css/admin/catastro_industrial.css' %}">
<script src="{% static 'js/vue.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div id="app">
	{% if request.user.cargo == 'administrador' %}
	<div id="contenedor-formulario">
	
		<div class="titulo-">
			<h2>Ingresar Equipo Industrial</h2>
		</div>

		<form method="POST">
			{% csrf_token %}
			<div>
				<input type="text" required placeholder="Clase" name="clase">
				<input type="text" required placeholder="SubClase" name="sub-clase">
				<input type="text" required placeholder="Marca" name="marca">
				<input type="text" required placeholder="Modelo" name="modelo">
				<input type="text" required placeholder="Serie" name="serie">
				<input type="text" required placeholder="N° de inventario" name="numero-inventario">
			</div>
			
			<div>
				<input type="number" required placeholder="Vida útil" name="vida-util">
				<input type="number" required placeholder="Vida útil Residual" name="vida-util-residual">
				<select name="estado" id="">
					<option value="" disabled selected>Seleccione un estado</option>
					<option value="Bueno">Bueno</option>
					<option value="Regular">Regular</option>
					<option value="Mala">Mala</option>
					<option value="Baja">Baja</option>
				</select>
				<input type="text" required placeholder="Garantia" name="garantia">
				<input type="number" required placeholder="Año de adquisición, ej: 2023" name="anio-adquisicion">
				<select name="institucion">
					<option value="" disabled selected>Seleccione una ciudad</option>
					<option value="1">Lebu</option>
					<option value="2">Arauco</option>
					<option value="4">Cañete</option>
					<option value="3">Curanilahue</option>
					<option value="5">Contulmo</option>
				</select>
			</div>
			
			<div>
				<input type="number" required placeholder="Año ingreso a plan mantenimiento, ej: 2023" name="anio-ingreso-plan-mantenimiento">
				<input type="number" required placeholder="Costo anual" name="costo-anual">
				<select name="criticidad">
					<option value="" disabled selected>Seleccione una opción</option>
					<option value="Critico">Crítico</option>
					<option value="Relevante">Relevante</option>
				</select>
				<select name="eliminado">
					<option value="" disabled selected>¿ Eliminado ?</option>
					<option value="1">Si</option>
					<option value="0">No</option>
				</select>
				<input type="text" required placeholder="Id convenio mantenimiento" name="id-convenio-mantenimiento">
				<input type="text" required placeholder="Nombre de equipo" name="nombre-equipo">
			</div>
			
			<div>
				<input type="text" required placeholder="Nombre de proveedor" name="nombre-proveedor">
				<input type="text" required placeholder="Nombre recinto" name="nombre-recinto">
				<input type="text" required placeholder="Plan mantención" name="plan-mantencion">
				<input type="text" required placeholder="Tipo de equipo" name="tipo-equipo">
				<input type="text" required placeholder="Ubicacion" name="ubicacion">
				<input type="text" required placeholder="Vencimiento garantia" name="vencimiento-garantia">
			</div>

			<div>
				<input type="submit" value="Agregar">
				{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li style="color: green;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
		</form>
	</div>
	{% endif %}





</div>

<!-- <script src="{% static 'js/admin/catastro_industrial.js' %}"></script> -->
<script src="{% static 'js/admin/catastro_industrial.js' %}"></script>

{% endblock contenido_dinamico %}