{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - {% block titulo_pestania %}{% endblock titulo_pestania %}</title>
  <link rel="stylesheet" href="{% static 'css/admin/base.css' %}">
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->

</head>

<body>

  <header>

    <nav>
      <div>
        <img src="{% static 'img/usuario.png' %}" alt="">
        <span>{{ request.user.username }}</span>
      </div>
      <div>
        <img src="{% static 'img/admin.png' %}" alt="">
        <span>{{ request.user.cargo }}</span>
      </div>

      <div>
        <a href="{% url 'cerrar_sesion' %}">
          <img src="{% static 'img/logout.png' %}" alt="">
          <span>cerrar sesión</span>
        </a>
      </div>
    </nav>


  </header>



  <main>
    <aside>
      <div class="logo">
        <div class="azul"></div>
        <div class="rojo"></div>
      </div>

      <div class="titulo">
        <div>
          <h3>Servicio de Salud Arauco</h3>
          <span>Region del BioBio</span>
        </div>
        <span>Ministerio de Salud</span>
      </div>

      <div class="separador">
        <hr class="custom-width">
      </div>

      <div class="opciones">
        {% if request.user.cargo == 'administrador' %}
        <div>
          <a href="{% url 'inicio_admin' %}">
            <img src="{% static 'img/inicio.png' %}" alt="">
            Inicio
          </a>
        </div>
        {% endif %}

        <div class="contenedor-instituciones">
          <details>
            <summary>Instituciones</summary>
            {% if request.user.cargo == 'administrador' %}
            <a href="{% url 'instituciones_admin' institucion='Lebu' tipo_equipo='medico' %}">Lebu</a>
            <a href="{% url 'institucion_arauco' %}">Arauco</a>
            <a href="{% url 'institucion_curanilahue' %}">Curanilahue</a>
            <a href="{% url 'institucion_canete' %}">Cañete</a>
            <a href="{% url 'institucion_contulmo' %}">Contulmo</a>
            
            {% elif request.user.cargo == 'usuario' and request.user.institucion_id == 1 %}
            <a href="{% url 'instituciones_admin' institucion='Lebu' tipo_equipo='medico' %}">Lebu</a>
            {% elif request.user.cargo == 'usuario' and request.user.institucion_id == 2 %}
            <a href="{% url 'institucion_arauco' %}">Arauco</a>
            {% elif request.user.cargo == 'usuario' and request.user.institucion_id == 3 %}
            <a href="{% url 'institucion_curanilahue' %}">Curanilahue</a>
            {% elif request.user.cargo == 'usuario' and request.user.institucion_id == 4 %}
            <a href="{% url 'institucion_canete' %}">Cañete</a>
            {% elif request.user.cargo == 'usuario' and request.user.institucion_id == 5 %}
            <a href="{% url 'institucion_contulmo' %}">Contulmo</a>
            {% endif %}
          </details>
        </div>

        {% if request.user.cargo == 'administrador' %}
        <div class="contenedor-catastro">
          <details>
            <summary>Añadir Catastro</summary>
            <a href="{% url 'anadir_catastro_industrial' %}">Equipo Industrial</a>
            <a href="{% url 'anadir_catastro_vehiculos' %}">Vehiculos</a>
            <a href="{% url 'anadir_catastro_medicos' %}">Equipo Medico</a>
          </details>
        </div>
        {% endif %}

        <div>
          <a href="{% url 'convenios' %}">
            <img src="{% static 'img/convenios.png' %}" alt="">
            Convenios
          </a>
        </div>

        <div>
          <a href="{% url 'lista_usuarios' %}">
            <img src="{% static 'img/añadir_usuario.png' %}" alt="">
            Crear usuario
          </a>
        </div>

      </div>
    </aside>


    <section>


      {% block contenido_dinamico %}
        
      {% endblock contenido_dinamico %}


    </section>

    
  </main>




	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script> -->
	<script src="{% static 'Semantic-UI-master/dist/semantic.min.js' %}"></script>



</body>

</html>