{% extends "admin/base_admin.html" %}
{% load static %}


{% block titulo_pestania %}{{ institucion.nombre }}{% endblock titulo_pestania %}

{% block contenido_dinamico %}
<link rel="stylesheet" href="{% static 'css/admin/instituciones.css' %}">
<link rel="stylesheet" href="{% static 'Semantic-UI-master/dist/semantic.min.css' %}">
<link rel="stylesheet" href="{% static 'Semantic-UI-master/dist/semantic.min.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{% static 'css/toast.css' %}">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="{% static 'Semantic-UI-master/dist/semantic.min.js' %}"></script>
<script src="{% static 'js/toast.js' %}"></script>





<div id="app">
	<div class="titulo">
		<h2>{{ institucion.nombre }}</h2>
		<div>
			<input type="search" placeholder="busqueda por serie">
			<button @click="buscar">Buscar</button>
		</div>
		<div>
			<p>Tipo de Equipo</p>
			<select id="select-tipo-equipo" v-model="opcionSelecionada" @change="actualizarGraficoMedianteSelect">
				<option v-for="opcion in select_lista_instituciones" :key="opcion.valor" :value="opcion.valor">${
					opcion.texto }
				</option>
			</select>
		</div>
	</div>



	<div class="contenedor-graficos">
		<div class="grafico-pie">
			<div class="titulo-grafico">
				<h3>${ titulo_primer_grafico }</h3>
			</div>

			<div class="graficos">
				<!-- <div id="grafico-mensual"></div> -->
				<div id="grafico-anual" v-if="opcionSelecionada !== 'valor'">
				</div>
			</div>
		</div>
		<div class="grafico-barra">
			<div>
				<div>
					<h3>Progreso</h3>
				</div>
				<div id="grafico-barra-criticidad-anual"></div>
				<div id="grafico-barra-relevante-anual"></div>
				<div id="info">
					<span id="vida-util">Equipos con baja vida útil: ${ vida_util }</span>
				</div>
			</div>
		</div>
	</div>


	<div class="contenedor-tabla">
		<div class="tabla">
			<!-- Tabla Semantic UI -->
			<table class="ui celled table">
				<thead>
					<tr>
						<th v-for="columna in data_columnas_tabla" :key="columna">${ columna }</th>
					</tr>
				</thead>
				<tbody>
					<tr v-if="opcionSelecionada === 'medico'" v-for="data in data_tabla" :key="data.id">
						<td>${ data.id }</td>
						<td>${ data.clase }</td>
						<td>${ data.nombre }</td>
						<td>${ data.marca }</td>
						<td>${ data.modelo }</td>
						<td>${ data.serie }</td>
						<td>${ data.anio }</td>
						<td>${ data.vida_util }</td>
						<td>${ data.estado }</td>
						<td>${ data.criticidad }</td>
						<td>${ data.garantia }</td>
						<td>${ data.vencimiento_garantia }</td>
						<td>${ data.plan_mantencion }</td>
						<td>${ data.tipo_equipo }</td>
						<td>${ data.id_convenio }</td>
						<td>${ data.id_institucion }</td>
						<td>${ data.eliminado }</td>
						<td>${ data.anio_ingreso }</td>
						<td>${ data.costo_anual }</td>
						<td>${ data.nombre_proveedor }</td>
						<td>${ data.numero_inventario }</td>
						<td>${ data.recinto }</td>
						<td>${ data.servicio_clinico }</td>
						<td>${ data.subclase }</td>
						<td>${ data.tipo_mantenimiento }</td>
						<td>${ data.vida_util_residual }</td>
					</tr>
					<tr v-else-if="opcionSelecionada === 'vehiculo'" v-for="data in data_tabla" :key="data.id">
						<td>${ data.id }</td>
						<td>${ data.samu }</td>
						<td>${ data.funcion }</td>
						<td>${ data.marca }</td>
						<td>${ data.modelo }</td>
						<td>${ data.patente }</td>
						<td>${ data.numero_motor }</td>
						<td>${ data.kilometraje }</td>
						<td>${ data.estado }</td>
						<td>${ data.anio }</td>
						<td>${ data.vida_util }</td>
						<td>${ data.criticidad }</td>
						<td>${ data.garantia }</td>
						<td>${ data.vencimiento_garantia }</td>
						<td>${ data.plan_mantencion }</td>
						<td>${ data.tipo_equipo }</td>
						<td>${ data.id_institucion }</td>
						<td>${ data.eliminado }</td>
						<td>${ data.anio_ingreso_plan_mentenimiento }</td>
						<td>${ data.clase_ambulancia }</td>
						<td>${ data.costo_anual_mantenimiento }</td>
						<td>${ data.establecimiento }</td>
						<td>${ data.estado_situacion }</td>
						<td>${ data.id_convenio_mantenimiento }</td>
						<td>${ data.nombre_proveedor }</td>
						<td>${ data.region }</td>
						<td>${ data.tipo_ambulancia }</td>
						<td>${ data.tipo_carroceria }</td>
						<td>${ data.tipo_mantenimiento }</td>
						<td>${ data.vida_util_residual }</td>
					</tr>	
					<tr v-else-if="opcionSelecionada === 'industrial'" v-for="data in data_tabla" :key="data.id">
						<td>${ data.id }</td>
						<td>${ data.clase }</td>
						<td>${ data.nombre }</td>
						<td>${ data.marca }</td>
						<td>${ data.modelo }</td>
						<td>${ data.serie }</td>
						<td>${ data.anio }</td>
						<td>${ data.vida_util }</td>
						<td>${ data.estado }</td>
						<td>${ data.criticidad }</td>
						<td>${ data.garantia }</td>
						<td>${ data.vencimiento_garantia }</td>
						<td>${ data.plan_mantencion }</td>
						<td>${ data.tipo_equipo }</td>
						<td>${ data.id_convenio }</td>
						<td>${ data.id_institucion }</td>
						<td>${ data.eliminado }</td>
						<td>${ data.anio_ingreso_plan_mantenimiento }</td>
						<td>${ data.costo_anual_mantenimiento }</td>
						<td>${ data.nombre_proveedor }</td>
						<td>${ data.numero_inventario }</td>
						<td>${ data.recinto }</td>
						<td>${ data.servicio_clinico }</td>
						<td>${ data.subclase }</td>
						<td>${ data.tipo_mantenimiento }</td>
						<td>${ data.vida_util_residual }</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>




	<!-- Modal que muestra el resultado de la busqueda -->
	<div class="ui modal" id="resultado-modal">
		<div class="header">
			Resultados de la búsqueda
		</div>
		<div class="content">
			<ul>
				<li v-for="resultado in resultados" :key="resultado.id">
					${ resultado }
				</li>
			</ul>
		</div>
		<div class="actions">
			<div class="ui button" @click="cerrarModalResultadosBusqueda">Cerrar</div>
		</div>
	</div>
	<!-- Modal que muestra el resultado de la busqueda -->










	<script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>
	<script src="{% static 'js/admin/institucion_lebu.js' %}"></script>
</div>

{% endblock contenido_dinamico %}