{% extends "admin/base_admin.html" %}
{% load static %}


{% block titulo_pestania %}{{ institucion.nombre }}{% endblock titulo_pestania %}

{% block contenido_dinamico %}
<link rel="stylesheet" href="{% static 'css/admin/instituciones.css' %}">
<link rel="stylesheet" href="{% static 'Semantic-UI-master/dist/semantic.min.css' %}">
<link rel="stylesheet" href="{% static 'Semantic-UI-master/dist/semantic.min.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{% static 'css/toast.css' %}">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="{% static 'Semantic-UI-master/dist/semantic.min.js' %}"></script>
<script src="{% static 'js/toast.js' %}"></script>




<div id="app">
	<div class="titulo">
		<h2>{{ institucion.nombre }}</h2>
		<div>
			<input v-model="busqueda" type="search" :placeholder="placeholderDinamico">
			<button @click="buscar">Buscar</button>
			<button @click="limpiarCampo">Limpiar campo</button>
		</div>
		<div>
			<p>Tipo de Equipo</p>
			<select id="select-tipo-equipo" v-model="opcionSelecionada" @change="actualizarGraficoMedianteSelect">
				<option v-for="opcion in select_lista_instituciones" :key="opcion.valor" :value="opcion.valor">
					${opcion.texto }
				</option>
			</select>
		</div>
	</div>



	<div class="contenedor-graficos">
		<div class="grafico-pie">
			<div class="titulo-grafico">
				<h3>${ titulo_primer_grafico }</h3>
			</div>

			<div class="graficos">
				<!-- <div id="grafico-mensual"></div> -->
				<div id="grafico-anual" v-if="opcionSelecionada !== 'valor'">
				</div>
			</div>
		</div>
		<div class="grafico-barra">
			<div>
				<div>
					<h3>Progreso</h3>
				</div>
				<div id="grafico-barra-criticidad-anual"></div>
				<div id="grafico-barra-relevante-anual"></div>
				<div id="info">
					<span id="vida-util">Equipos con baja vida útil: ${ vida_util }</span>
				</div>
			</div>
		</div>
	</div>


	<div class="contenedor-tabla">
		<div class="tabla">
			<!-- Tabla Semantic UI -->
			<table class="ui celled table">
				<thead>
					<tr>
						<th v-for="columna in data_columnas_tabla" :key="columna">${ columna }</th>
					</tr>
				</thead>
				<tbody>
					<tr v-if="opcionSelecionada === 'medico'" v-for="data in data_tabla" :key="data.id" :id="data.id">
						<td>${ data.id }</td>
						<td>${ data.clase }</td>
						<td>${ data.nombre }</td>
						<td>${ data.marca }</td>
						<td>${ data.modelo }</td>
						<td>${ data.serie }</td>
						<td>${ data.anio }</td>
						<td>${ data.vida_util }</td>
						<td>${ data.estado }</td>
						<td>${ data.criticidad }</td>
						<td>${ data.garantia }</td>
						<td>${ data.vencimiento_garantia }</td>
						<td>${ data.plan_mantencion }</td>
						<td>${ data.tipo_equipo }</td>
						<td>${ data.id_convenio }</td>
						<td>${ data.id_institucion }</td>
						<td>${ data.eliminado }</td>
						<td>${ data.anio_ingreso }</td>
						<td>${ data.costo_anual }</td>
						<td>${ data.nombre_proveedor }</td>
						<td>${ data.numero_inventario }</td>
						<td>${ data.recinto }</td>
						<td>${ data.servicio_clinico }</td>
						<td>${ data.subclase }</td>
						<td>${ data.tipo_mantenimiento }</td>
						<td>${ data.vida_util_residual }</td>
						{% if request.user.cargo == 'administrador' %}
						<td>
							<button
								@click="editarCatastro( data.id, data.id_institucion, data.tipo_equipo )">Editar</button>
							<button
								@click="eliminarCatastro( data.id, data.id_institucion, data.tipo_equipo )">Eliminar</button>
						</td>
						{% else %}
						<td>
							<span>No eres un administrador</span>
						</td>
						{% endif %}
					</tr>
					<tr v-else-if="opcionSelecionada === 'vehiculo'" v-for="data in data_tabla" :key="data.id"
						:id="data.id">
						<td>${ data.id }</td>
						<td>${ data.samu }</td>
						<td>${ data.funcion }</td>
						<td>${ data.marca }</td>
						<td>${ data.modelo }</td>
						<td>${ data.patente }</td>
						<td>${ data.numero_motor }</td>
						<td>${ data.kilometraje }</td>
						<td>${ data.estado }</td>
						<td>${ data.anio }</td>
						<td>${ data.vida_util }</td>
						<td>${ data.criticidad }</td>
						<td>${ data.garantia }</td>
						<td>${ data.vencimiento_garantia }</td>
						<td>${ data.plan_mantencion }</td>
						<td>${ data.tipo_equipo }</td>
						<td>${ data.id_institucion }</td>
						<td>${ data.eliminado }</td>
						<td>${ data.anio_ingreso_plan_mentenimiento }</td>
						<td>${ data.clase_ambulancia }</td>
						<td>${ data.costo_anual_mantenimiento }</td>
						<td>${ data.establecimiento }</td>
						<td>${ data.estado_situacion }</td>
						<td>${ data.id_convenio_mantenimiento }</td>
						<td>${ data.nombre_proveedor }</td>
						<td>${ data.region }</td>
						<td>${ data.tipo_ambulancia }</td>
						<td>${ data.tipo_carroceria }</td>
						<td>${ data.tipo_mantenimiento }</td>
						<td>${ data.vida_util_residual }</td>
						{% if request.user.cargo == 'administrador' %}
						<td>
							<button
								@click="editarCatastro( data.id, data.id_institucion, data.tipo_equipo )">Editar</button>
							<button
								@click="eliminarCatastro( data.id, data.id_institucion, data.tipo_equipo )">Eliminar</button>
						</td>
						{% else %}
						<td>
							<span>No eres un administrador</span>
						</td>
						{% endif %}
					</tr>
					<tr v-else-if="opcionSelecionada === 'industrial'" v-for="data in data_tabla" :key="data.id"
						:id="data.id">
						<td>${ data.id }</td>
						<td>${ data.clase }</td>
						<td>${ data.nombre }</td>
						<td>${ data.marca }</td>
						<td>${ data.modelo }</td>
						<td>${ data.serie }</td>
						<td>${ data.anio }</td>
						<td>${ data.vida_util }</td>
						<td>${ data.estado }</td>
						<td>${ data.criticidad }</td>
						<td>${ data.garantia }</td>
						<td>${ data.vencimiento_garantia }</td>
						<td>${ data.plan_mantencion }</td>
						<td>${ data.tipo_equipo }</td>
						<td>${ data.id_convenio }</td>
						<td>${ data.id_institucion }</td>
						<td>${ data.eliminado }</td>
						<td>${ data.anio_ingreso_plan_mantenimiento }</td>
						<td>${ data.costo_anual_mantenimiento }</td>
						<td>${ data.nombre_proveedor }</td>
						<td>${ data.numero_inventario }</td>
						<td>${ data.recinto }</td>
						<td>${ data.servicio_clinico }</td>
						<td>${ data.subclase }</td>
						<td>${ data.tipo_mantenimiento }</td>
						<td>${ data.vida_util_residual }</td>
						{% if request.user.cargo == 'administrador' %}
						<td>
							<button
								@click="editarCatastro( data.id, data.id_institucion, data.tipo_equipo )">Editar</button>
							<button
								@click="eliminarCatastro( data.id, data.id_institucion, data.tipo_equipo )">Eliminar</button>
						</td>
						{% else %}
						<td>
							<span>No eres un administrador</span>
						</td>
						{% endif %}
					</tr>
				</tbody>
			</table>
		</div>
	</div>




	<!-- Modal que muestra el resultado de la busqueda -->
	<div class="ui modal" id="resultado-modal">
		<div class="header">
			Resultados de la búsqueda
		</div>
		<div class="content">
			<ul>
				<li v-if="this.opcionSelecionada === 'medico'" style="list-style: none;" v-for="resultado in resultados"
					:key="resultado.id">
					<div>
						<span>${ resultado.fields }</span>
						<span style="font-weight: bold;">ID - </span>
						<span>${ resultado.id }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Clase - </span>
						<span>${ resultado.clase }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Nombre - </span>
						<span>${ resultado.nombre }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Marca - </span>
						<span>${ resultado.marca }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Modelo - </span>
						<span>${ resultado.modelo }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Serie - </span>
						<span>${ resultado.serie }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Año - </span>
						<span>${ resultado.anio }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Vida Util - </span>
						<span>${ resultado.vida_util }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Estado - </span>
						<span>${ resultado.estado }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Criticidad - </span>
						<span>${ resultado.criticidad }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Garantia - </span>
						<span>${ resultado.garantia }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Vencimiento de garantia - </span>
						<span>${ resultado.vencimiento_garantia }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Plan de mantención - </span>
						<span>${ resultado.plan_mantencion }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Tipo de equipo - </span>
						<span>${ resultado.tipo_equipo }</span>
					</div>
					<div>
						<span style="font-weight: bold;">ID de convenio - </span>
						<span>${ resultado.id_convenio }</span>
					</div>
					<div>
						<span style="font-weight: bold;">ID de institución - </span>
						<span>${ resultado.id_institucion }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Eliminado - </span>
						<span>${ resultado.eliminado }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Año de ingreso - </span>
						<span>${ resultado.anio_ingreso }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Costo anual - </span>
						<span>${ resultado.costo_anual }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Numero de proveedor - </span>
						<span>${ resultado.numero_proveedor }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Numero de inventario - </span>
						<span>${ resultado.numero_inventario }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Recinto - </span>
						<span>${ resultado.recinto }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Servicio clinico - </span>
						<span>${ resultado.servicio_clinico }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Subclase - </span>
						<span>${ resultado.subclase }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Tipo de mantenimiento - </span>
						<span>${ resultado.tipo_mantenimiento }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Vida util residual - </span>
						<span>${ resultado.vida_util_residual }</span>
					</div>
					<br>
					<!-- <span>${ resultado }</span> -->
				</li>
				<li v-else-if="this.opcionSelecionada === 'industrial'" style="list-style: none;"
					v-for="resultado in resultados" :key="resultado.id">
					<div>
						<span style="font-weight: bold;">ID - </span>
						<span>${ resultado.id }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Clase - </span>
						<span>${ resultado.clase }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Nombre - </span>
						<span>${ resultado.nombre }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Marca - </span>
						<span>${ resultado.marca }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Modelo - </span>
						<span>${ resultado.modelo }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Serie - </span>
						<span>${ resultado.serie }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Año - </span>
						<span>${ resultado.anio }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Vida Util - </span>
						<span>${ resultado.vida_util }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Estado - </span>
						<span>${ resultado.estado }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Criticidad - </span>
						<span>${ resultado.criticidad }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Garantia - </span>
						<span>${ resultado.garantia }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Vencimiento de garantia - </span>
						<span>${ resultado.vencimiento_garantia }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Plan de mantención - </span>
						<span>${ resultado.plan_mantencion }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Tipo de equipo - </span>
						<span>${ resultado.tipo_equipo }</span>
					</div>
					<div>
						<span style="font-weight: bold;">ID de convenio - </span>
						<span>${ resultado.id_convenio }</span>
					</div>
					<div>
						<span style="font-weight: bold;">ID de institución - </span>
						<span>${ resultado.id_institucion }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Eliminado - </span>
						<span>${ resultado.eliminado }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Año de ingreso - </span>
						<span>${ resultado.anio_ingreso }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Costo anual - </span>
						<span>${ resultado.costo_anual }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Numero de proveedor - </span>
						<span>${ resultado.numero_proveedor }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Numero de inventario - </span>
						<span>${ resultado.numero_inventario }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Recinto - </span>
						<span>${ resultado.recinto }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Servicio clinico - </span>
						<span>${ resultado.servicio_clinico }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Subclase - </span>
						<span>${ resultado.subclase }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Tipo de mantenimiento - </span>
						<span>${ resultado.tipo_mantenimiento }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Vida util residual - </span>
						<span>${ resultado.vida_util_residual }</span>
					</div>
					<br>
					<!-- <span>${ resultado }</span> -->
				</li>
				<li v-else-if="this.opcionSelecionada === 'vehiculo'" style="list-style: none;"
					v-for="resultado in resultados" :key="resultado.id">
					<div>
						<span style="font-weight: bold;">ID - </span>
						<span>${ resultado.id }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Funcion - </span>
						<span>${ resultado.funcion }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Marca - </span>
						<span>${ resultado.marca }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Modelo - </span>
						<span>${ resultado.modelo }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Patente - </span>
						<span>${ resultado.patente }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Numero de motor - </span>
						<span>${ resultado.numero_motor }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Kilometraje - </span>
						<span>${ resultado.kilometraje }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Estado - </span>
						<span>${ resultado.estado }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Año - </span>
						<span>${ resultado.anio }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Vida Util - </span>
						<span>${ resultado.vida_util }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Criticidad - </span>
						<span>${ resultado.criticidad }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Garantia - </span>
						<span>${ resultado.garantia }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Vencimiento de garantia - </span>
						<span>${ resultado.vencimiento_garantia }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Plan de mantención - </span>
						<span>${ resultado.plan_mantencion }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Tipo de equipo - </span>
						<span>${ resultado.tipo_equipo }</span>
					</div>
					<div>
						<span style="font-weight: bold;">ID de institución - </span>
						<span>${ resultado.id_institucion }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Eliminado - </span>
						<span>${ resultado.eliminado }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Año de ingreso a plan mantenimiento - </span>
						<span>${ resultado.anio_ingreso_plan_mantenimiento }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Clase de ambulancia - </span>
						<span>${ resultado.clase_ambulancia }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Costo anual mantenimiento - </span>
						<span>${ resultado.costo_anual_mantenimiento }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Establecimiento - </span>
						<span>${ resultado.establecimiento }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Estado situcación - </span>
						<span>${ resultado.estado_situacion }</span>
					</div>
					<div>
						<span style="font-weight: bold;">ID de convenio mantenimiento - </span>
						<span>${ resultado.id_convenio }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Numero de proveedor - </span>
						<span>${ resultado.numero_proveedor }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Region - </span>
						<span>${ resultado.region }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Tipo de ambulancia - </span>
						<span>${ resultado.tipo_ambulancia }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Tipo de carroceria - </span>
						<span>${ resultado.tipo_carroceria }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Tipo de mantenimiento - </span>
						<span>${ resultado.tipo_mantenimiento }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Tipo de mantenimiento - </span>
						<span>${ resultado.tipo_mantenimiento }</span>
					</div>
					<div>
						<span style="font-weight: bold;">Vida util residual - </span>
						<span>${ resultado.vida_util_residual }</span>
					</div>
					<br>
					<!-- <span>${ resultado }</span> -->
				</li>
			</ul>
		</div>
		<div class="actions">
			<div class="ui button" @click="cerrarModalResultadosBusqueda">Cerrar</div>
		</div>
	</div>
	<!-- Modal que muestra el resultado de la busqueda -->



	<!-- Modal para editar el catastro -->
	<!-- Modal -->
	<div class="ui modal" id="miModalEditarCatastro">
		<i class="close icon">x</i>
		<div class="header">
			Formulario para editar catastro
		</div>
		<div class="content">
			<div class="field">
				<div>
					<h3>Datos actuales del equipo</h3>
				</div>

				<hr>

				<div v-if="tipoFormularioEditarCatastro === 'medico' || tipoFormularioEditarCatastro === 'industrial'"
					class="contenedor-data-formulario-editar">
					<p ref="idEquipo"></p>
					<p ref="clase"></p>
					<p ref="nombre"></p>
					<p ref="marca"></p>
					<p ref="modelo"></p>
					<p ref="serie"></p>
					<p ref="anio"></p>
					<p ref="vida_util"></p>
					<p ref="estado"></p>
					<p ref="criticidad"></p>
					<p ref="garantia"></p>
					<p ref="vencimiento_garantia"></p>
					<p ref="plan_mantencion"></p>
					<p ref="tipo_equipo_parrafo"></p>
					<p ref="id_convenio"></p>
					<p ref="id_institucion"></p>
					<p ref="eliminado"></p>
					<p ref="anio_ingreso"></p>
					<p ref="costo_anual"></p>
					<p ref="nombre_proveedor"></p>
					<p ref="numero_inventario"></p>
					<p ref="recinto"></p>
					<p ref="servicio_clinico"></p>
					<p ref="sub_clase"></p>
					<p ref="tipo_mantenimiento"></p>
					<p ref="vida_util_residual"></p>
				</div>

				<div v-else-if="tipoFormularioEditarCatastro === 'vehiculo'" class="contenedor-data-formulario-editar">
					<p ref="idEquipoVehiculo"></p>
					<p ref="funcionVehiculo"></p>
					<p ref="marcaVehiculo"></p>
					<p ref="modeloVehiculo"></p>
					<p ref="patenteVehiculo"></p>
					<p ref="numeroMotorVehiculo"></p>
					<p ref="kilometrajeVehiculo"></p>
					<p ref="estadoVehiculo"></p>
					<p ref="anioVehiculo"></p>
					<p ref="vidaUtilVehiculo"></p>
					<p ref="criticidadVehiculo"></p>
					<p ref="garantiaVehiculo"></p>
					<p ref="vencimientoGarantiaVehiculo"></p>
					<p ref="planMantecionVehiculo"></p>
					<p ref="tipoEquipoVehiculo"></p>
					<p ref="idInstitucionVehiculo"></p>
					<p ref="eliminadoVehiculo"></p>
					<p ref="anioIngreoPlanMantencionVehiculo"></p>
					<p ref="claseAmbulanciaVehiculo"></p>
					<p ref="costoAnualMantenimientoVehiculo"></p>
					<p ref="establecimientoVehiculo"></p>
					<p ref="estadoSituacionVehiculo"></p>
					<p ref="idConvenioMantenimientoVehiculo"></p>
					<p ref="nombreProveedorVehiculo"></p>
					<p ref="regionVehiculo"></p>
					<p ref="tipoAmbulanciaVehiculo"></p>
					<p ref="tipoCarroceriaVehiculo"></p>
					<p ref="tipoMantenimientoVehiculo"></p>
					<p ref="vidaUtilResidualVehiculo"></p>
				</div>


				<br><br>
				<hr>
				<br><br>

			</div>
			<!-- Contenido del formulario -->
			<form class="ui form" method="POST" action="{% url 'editar_equipo' %}">
				{% csrf_token %}
				<input type="hidden" name="hidden-id-equipo" id="hidden-id-equipo" value="">
				<input type="hidden" name="hidden-tipo-equipo" id="hidden-tipo-equipo" value="">
				<div v-if="tipoFormularioEditarCatastro === 'medico'">
					<div class="field">
						<label for="">Clase</label>
						<input type="text" name="clase" placeholder="clase">
					</div>
					<div class="field">
						<label>Nombre</label>
						<input type="text" name="nombre" placeholder="Nombre">
					</div>
					<div class="field">
						<label for="marca">Marca</label>
						<input type="text" name="marca" placeholder="marca">
					</div>
					<div class="field">
						<label for="modelo">Modelo</label>
						<input type="text" name="modelo" placeholder="modelo">
					</div>
					<div class="field">
						<label for="serie">Serie</label>
						<input type="text" name="serie" placeholder="serie">
					</div>
					<div class="field">
						<label for="anio">Año</label>
						<input type="number" name="anio" placeholder="2024">
					</div>
					<div class="field">
						<label for="vida-util">Vida util</label>
						<input type="number" name="vida-util" placeholder="1">
					</div>
					<div class="field">
						<select name="estado">
							<option value="" disabled selected>Seleccione un estado</option>
							<option value="BUENO">Bueno</option> <!-- Bueno - Regular - Malo - Baja -->
							<option value="REGULAR">Regular</option>
							<option value="MALO">Malo</option>
							<option value="BAJA">Baja</option>
						</select>
					</div>
					<div class="field">
						<select name="criticidad">
							<option value="" disabled selected>Seleccione una opción</option>
							<option value="Critico">Crítico</option>
							<option value="Relevante">Relevante</option>
						</select>
					</div>
					<div class="field">
						<label for="garantia">Garantia</label>
						<input type="text" name="garantia" placeholder="garantia">
					</div>
					<div class="field">
						<label for="vencimiento-garantia">Vencimiento de garantia</label>
						<input type="text" name="vencimiento-garantia" placeholder="vencimiento garantia">
					</div>
					<div class="field">
						<label for="plan-mantencion">Plan de mantención</label>
						<input type="text" name="plan-mantencion" placeholder="plan de mantención">
					</div>
					<div class="field">
						<select name="tipo-equipo">
							<option value="" disabled selected>seleccione un tipo de equipo</option>
							<option value="medico">Medico</option>
							<option value="vehiculo">Vehiculo</option>
							<option value="industrial">Industrial</option>
						</select>
					</div>
					<div class="field">
						<label for="id-convenio">Id de convenio</label>
						<input type="number" name="id-convenio" placeholder="1">
					</div>
					<div class="field">
						<select name="id-institucion">
							<option value="" disabled selected>Seleccione una ciudad</option>
							<option value="1">Lebu</option>
							<option value="2">Arauco</option>
							<option value="4">Cañete</option>
							<option value="3">Curanilahue</option>
							<option value="5">Contulmo</option>
						</select>
					</div>
					<div class="field">
						<select name="eliminado">
							<option value="" disabled selected>¿ Eliminado ?</option>
							<option value="1">Si</option>
							<option value="0">No</option>
						</select>
					</div>
					<div class="field">
						<label for="anio-ingreso">Año de ingreso</label>
						<input type="number" placeholder="Año ingreso, ej: 2023" name="anio-ingreso">
					</div>
					<div class="field">
						<label for="costo-anual">Costo anual</label>
						<input type="number" name="costo-anual" placeholder="0">
					</div>
					<div class="field">
						<label for="nombre-proveedor">Nombre del proveedor</label>
						<input type="text" name="nombre-proveedor" placeholder="Nombre del proveedor">
					</div>
					<div class="field">
						<label for="numero-inventario">Numero de inventario</label>
						<input type="text" name="numero-inventario" placeholder="Numero de inventario">
					</div>
					<div class="field">
						<label for="recinto">Recinto</label>
						<input type="text" name="recinto" placeholder="recinto">
					</div>
					<div class="field">
						<label for="servicio-clinico">Servicio clinico</label>
						<input type="text" name="servicio-clinico" placeholder="Servicio clinico">
					</div>
					<div class="field">
						<label for="sub-clase">SubClase</label>
						<input type="text" name="sub-clase" placeholder="subclase">
					</div>
					<div class="field">
						<label for="tipo-manteimiento">Tipo de mantenimiento</label>
						<input type="text" name="tipo-mantenimiento" placeholder="Tipo de mantenimiento">
					</div>
					<div class="field">
						<label for="vida-util-residual">Vida util residual</label>
						<input type="number" name="vida-util-residual" placeholder="0">
					</div>

					<button ref="btnEnviarFormularioEditarCatastro" class="ui button" type="submit">Enviar</button>

				</div>
				<div v-else-if="tipoFormularioEditarCatastro === 'industrial'">

					<div class="field">
						<label for="">Clase</label>
						<input type="text" name="clase" placeholder="clase">
					</div>
					<div class="field">
						<label>Nombre</label>
						<input type="text" name="nombre" placeholder="Nombre">
					</div>
					<div class="field">
						<label for="marca">Marca</label>
						<input type="text" name="marca" placeholder="marca">
					</div>
					<div class="field">
						<label for="modelo">Modelo</label>
						<input type="text" name="modelo" placeholder="modelo">
					</div>
					<div class="field">
						<label for="serie">Serie</label>
						<input type="text" name="serie" placeholder="serie">
					</div>
					<div class="field">
						<label for="anio">Año</label>
						<input type="number" name="anio" placeholder="2024">
					</div>
					<div class="field">
						<label for="vida-util">Vida util</label>
						<input type="number" name="vida-util" placeholder="1">
					</div>
					<div class="field">
						<select name="estado">
							<option value="" disabled selected>Seleccione un estado</option>
							<option value="BUENO">Bueno</option> <!-- Bueno - Regular - Malo - Baja -->
							<option value="REGULAR">Regular</option>
							<option value="MALO">Malo</option>
							<option value="BAJA">Baja</option>
						</select>
					</div>
					<div class="field">
						<select name="criticidad">
							<option value="" disabled selected>Seleccione una opción</option>
							<option value="Critico">Crítico</option>
							<option value="Relevante">Relevante</option>
						</select>
					</div>
					<div class="field">
						<label for="garantia">Garantia</label>
						<input type="text" name="garantia" placeholder="garantia">
					</div>
					<div class="field">
						<label for="vencimiento-garantia">Vencimiento de garantia</label>
						<input type="text" name="vencimiento-garantia" placeholder="vencimiento garantia">
					</div>
					<div class="field">
						<label for="plan-mantencion">Plan de mantención</label>
						<input type="text" name="plan-mantencion" placeholder="plan de mantención">
					</div>
					<div class="field">
						<select name="tipo-equipo">
							<option value="" disabled selected>seleccione un tipo de equipo</option>
							<option value="medico">Medico</option>
							<option value="vehiculo">Vehiculo</option>
							<option value="industrial">Industrial</option>
						</select>
					</div>
					<div class="field">
						<label for="id-convenio">Id de convenio</label>
						<input type="number" name="id-convenio" placeholder="1">
					</div>
					<div class="field">
						<select name="id-institucion">
							<option value="" disabled selected>Seleccione una ciudad</option>
							<option value="1">Lebu</option>
							<option value="2">Arauco</option>
							<option value="4">Cañete</option>
							<option value="3">Curanilahue</option>
							<option value="5">Contulmo</option>
						</select>
					</div>
					<div class="field">
						<select name="eliminado">
							<option value="" disabled selected>¿ Eliminado ?</option>
							<option value="1">Si</option>
							<option value="0">No</option>
						</select>
					</div>
					<div class="field">
						<label for="anio-ingreso">Año de ingreso</label>
						<input type="number" placeholder="Año ingreso, ej: 2023" name="anio-ingreso">
					</div>
					<div class="field">
						<label for="costo-anual">Costo anual</label>
						<input type="number" name="costo-anual" placeholder="0">
					</div>
					<div class="field">
						<label for="nombre-proveedor">Nombre del proveedor</label>
						<input type="text" name="nombre-proveedor" placeholder="Nombre del proveedor">
					</div>
					<div class="field">
						<label for="numero-inventario">Numero de inventario</label>
						<input type="text" name="numero-inventario" placeholder="Numero de inventario">
					</div>
					<div class="field">
						<label for="recinto">Recinto</label>
						<input type="text" name="recinto" placeholder="recinto">
					</div>
					<div class="field">
						<label for="servicio-clinico">Servicio clinico</label>
						<input type="text" name="servicio-clinico" placeholder="Servicio clinico">
					</div>
					<div class="field">
						<label for="sub-clase">SubClase</label>
						<input type="text" name="sub-clase" placeholder="subclase">
					</div>
					<div class="field">
						<label for="tipo-manteimiento">Tipo de mantenimiento</label>
						<input type="text" name="tipo-mantenimiento" placeholder="Tipo de mantenimiento">
					</div>
					<div class="field">
						<label for="vida-util-residual">Vida util residual</label>
						<input type="number" name="vida-util-residual" placeholder="0">
					</div>

					<button ref="btnEnviarFormularioEditarCatastro" class="ui button" type="submit">Enviar</button>


				</div>
				<div v-else-if="tipoFormularioEditarCatastro === 'vehiculo'">
					<div class="field">
						<label for="samu">Samu</label>
						<input type="text" name="samu" placeholder="samu">
					</div>
					<div class="field">
						<label for="funcion">Función</label>
						<input type="text" name="funcion" placeholder="función">
					</div>
					<div class="field">
						<label for="marca">Marca</label>
						<input type="text" name="marca" placeholder="marca">
					</div>
					<div class="field">
						<label for="modelo">Modelo</label>
						<input type="text" name="modelo" placeholder="modelo">
					</div>
					<div class="field">
						<label for="patente">Patente</label>
						<input type="text" name="patente" placeholder="JBCZ 52">
					</div>
					<div class="field">
						<label for="numero-motor">Numero de motor</label>
						<input type="text" name="numero-motor" placeholder="651955W0058039">
					</div>
					<div class="field">
						<label for="kilometraje">Kilometraje</label>
						<input type="number" name="kilometraje" placeholder="123">
					</div>
					<div class="field">
						<select name="estado">
							<option value="" disabled selected>Seleccione un estado</option>
							<option value="BUENO">Bueno</option> <!-- Bueno - Regular - Malo - Baja -->
							<option value="REGULAR">Regular</option>
							<option value="MALO">Malo</option>
							<option value="BAJA">Baja</option>
						</select>
					</div>
					<div class="field">
						<label for="anio">Año</label>
						<input type="number" name="anio" placeholder="2024">
					</div>
					<div class="field">
						<label for="vida-util">Vida util</label>
						<input type="number" name="vida-util" placeholder="1">
					</div>
					<div class="field">
						<select name="criticidad">
							<option value="" disabled selected>Seleccione una opción</option>
							<option value="Critico">Crítico</option>
							<option value="Relevante">Relevante</option>
						</select>
					</div>
					<div class="field">
						<label for="garantia">Garantia</label>
						<input type="text" name="garantia" placeholder="garantia">
					</div>
					<div class="field">
						<label for="vencimiento-garantia">Vencimiento de garantia</label>
						<input type="text" name="vencimiento-garantia" placeholder="vencimiento garantia">
					</div>
					<div class="field">
						<label for="plan-mantencion">Plan de mantención</label>
						<input type="text" name="plan-mantencion" placeholder="plan de mantención">
					</div>
					<div class="field">
						<select name="tipo-equipo">
							<option value="" disabled selected>seleccione un tipo de equipo</option>
							<option value="medico">Medico</option>
							<option value="vehiculo">Vehiculo</option>
							<option value="industrial">Industrial</option>
						</select>
					</div>
					<div class="field">
						<select name="id-institucion">
							<option value="" disabled selected>Seleccione una ciudad</option>
							<option value="1">Lebu</option>
							<option value="2">Arauco</option>
							<option value="4">Cañete</option>
							<option value="3">Curanilahue</option>
							<option value="5">Contulmo</option>
						</select>
					</div>
					<div class="field">
						<select name="eliminado">
							<option value="" disabled selected>¿ Eliminado ?</option>
							<option value="1">Si</option>
							<option value="0">No</option>
						</select>
					</div>
					<div class="field">
						<label for="anio-ingreso">Año de ingreso</label>
						<input type="number" placeholder="Año ingreso, ej: 2023" name="anio-ingreso">
					</div>
					<div class="field">
						<label for="clase-ambulancia">Clase de ambulancia</label>
						<input type="text" name="clase-ambulancia" placeholder="URBANA">
					</div>
					<div class="field">
						<label for="costo-anual">Costo anual</label>
						<input type="number" name="costo-anual" placeholder="0">
					</div>
					<div class="field">
						<label for="establecimiento">Establecimiento</label>
						<input type="text" name="establecimiento" placeholder="establecimiento">
					</div>
					<div class="field">
						<label for="estado-situacion">Estado de situación</label>
						<input type="text" name="estado-situacion" placeholder="estado de situación">
					</div>
					<div class="field">
						<label for="id-convenio-mantenimiento">ID del convenio de mantenimiento</label>
						<input type="number" name="id-convenio-mantenimiento" placeholder="1">
					</div>
					<div class="field">
						<label for="nombre-proveedor">Nombre del proveedor</label>
						<input type="text" name="nombre-proveedor" placeholder="nombre del proveedor">
					</div>
					<div class="field">
						<select name="id-institucion">
							<option value="" disabled selected>Seleccione una ciudad</option>
							<option value="1">Lebu</option>
							<option value="2">Arauco</option>
							<option value="4">Cañete</option>
							<option value="3">Curanilahue</option>
							<option value="5">Contulmo</option>
						</select>
					</div>
					<div class="field">
						<label for="tipo-ambulancia">Tipo de ambulancia</label>
						<input type="text" name="tipo-ambulancia" placeholder="tipo de ambulancia">
					</div>
					<div class="field">
						<label for="tipo-carroceria">Tipo de carroceria</label>
						<input type="text" name="tipo-carroceria" placeholder="tipo de carroceria">
					</div>
					<div class="field">
						<label for="tipo-mantenimiento">Tipo de mantenimiento</label>
						<input type="text" name="tipo-mantenimiento" id="">
					</div>
					<div class="field">
						<label for="vida-util-residual">Vida util residual</label>
						<input type="number" name="vida-util-residual" placeholder="0">
					</div>
					
					<button ref="btnEnviarFormularioEditarCatastro" class="ui button" type="submit">Enviar</button>


				</div>
			</form>
		</div>
		<!-- Modal para editar el catastro -->






		<script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>
		<script src="{% static 'js/admin/institucion_lebu.js' %}"></script>
	</div>




	{% if messages %}
	<ul class="messages">
		{% for mensaje in messages %}
		<script>
			const toast = new Toasts({
				offsetX: 20, // 20px
				offsetY: 20, // 20px
				gap: 20, // The gap size in pixels between toasts
				width: 300, // 300px
				timing: 'ease', // See list of available CSS transition timings
				duration: '.5s', // Transition duration
				dimOld: true, // Dim old notifications while the newest notification stays highlighted
				position: 'bottom-left' // top-left | top-center | top-right | bottom-left | bottom-center | bottom-right
			});
			toast.push({
				title: 'Información',
				content: `{{ mensaje }}`,
				style: `{{ mensaje.level_tag }}`
			})
		</script>
		{% endfor %}
	</ul>
	{% endif %}

	{% endblock contenido_dinamico %}