main{
    display: inline-flex !important;
    flex-direction: row !important;
}

main section{
    justify-content: space-around;
}


main section .titulo{
    width: 100%;
    height: 10%;
    /* margin-top: 15px;
    margin-bottom: 15px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
    border: 1px solid #3333332a;
}

main section .titulo h2{
    margin-left: 20px;
    margin-right: 20px;
}

main section .titulo div{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 10px;
}

main section .titulo div p{
    margin: 0;
    margin-right: 7px;
}

main section .titulo div input,
main section .titulo div button,
main section .titulo div select{
    padding: 7px;
    border-radius: 7px;
    border: 1px solid #33333329;
    outline: none;
}

main section .titulo div button{
    cursor: pointer;
    margin-left: 7px;
    background-color: #5B7AD8;
    color: white;
}

.ui,
.modal, 
.scrolling, 
.transition, 
.visible, 
.active{
    overflow: auto;
    height: 90%;
}


#app{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.contenedor-graficos{
    width: 100%;
    height: 30%;
    border-radius: 7px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contenedor-graficos .grafico-pie{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 35%;
    height: 100%;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid #3333332a;
}

.contenedor-graficos .grafico-pie .titulo-grafico{
    width: 100%;
    height: 15%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contenedor-graficos .grafico-pie .graficos{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 80%;
}

.contenedor-graficos .grafico-pie .graficos #grafico-anual,
.contenedor-graficos .grafico-pie .graficos #grafico-mensual{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 90%;
}

.contenedor-graficos .grafico-barra{
    width: 63%;
    height: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid #3333332a;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-graficos .grafico-barra div{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-graficos .grafico-barra div #grafico-barra-criticidad-anual,
.contenedor-graficos .grafico-barra div #grafico-barra-relevante-anual{
    width: 100%;
    height: 90%;
}








.contenedor-tabla{
    width: 100%;
    height: 50%;
    border-radius: 7px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid #3333332a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-tabla .tabla{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.contenedor-tabla .tabla table{
    /* display: flex;
    flex-direction: column; */
    /* justify-content:flex-start; */
    /* align-items: center; */
    width: 100%; 
    height: 100% !important;
    /* overflow: auto !important; */
    /* overflow-x: hidden; */

}

.contenedor-tabla .tabla table thead{
    width: 100%;
    border-radius: 7px;
}


/* 
.contenedor-tabla .tabla table thead tr,
.contenedor-tabla .tabla table tbody tr{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.contenedor-tabla .tabla table thead tr th{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;

}

.contenedor-tabla .tabla table tbody{
    width: 100%;

}

.contenedor-tabla .tabla table tbody tr{
    border-bottom: 1px solid #33333332;
}

.contenedor-tabla .tabla table tbody tr td{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    width: 7%;
    flex-wrap: unset;
} */