main section .titulo{
    width: 100%;
    height: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
    border: 1px solid #3333332a;
}

main section .titulo h2{
    margin-left: 20px;
    margin-right: 20px;
}

main section .titulo button{
    border: none;
    background-color: rgb(57, 141, 252);
    padding: 7px;
    border-radius: 7px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

main section .titulo button:active,
#modal-crear-usuario .contenedor-formulario form div input[type=submit]:active{
    transform: scale(0.98);
}




.contenedor-tabla-usuarios{
    width: 100%;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-tabla-usuarios .tabla{
    margin: 10px;
    height: 90%;
    width: 95%;
}

.contenedor-tabla-usuarios .tabla table{
    width: 100%;
    /* height: 90%; */
    text-align: center;
}



.contenedor-tabla-usuarios .tabla table tr td{
    padding: 7px;
    border: 1px solid #3333333b;

}



.paginacion a{
    color: rgb(57, 141, 252);
    margin-right: 5px;
    margin-left: 5px;
}







#modal-crear-usuario{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 45%;
    height: 65%;
    border: 1px solid #33333341;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#modal-crear-usuario .titulo-modal{
    width: 100%;
    height: 10%;
    text-align: center;
}

#modal-crear-usuario .contenedor-formulario{
    width: 100%;
    height: 70%;
}

#modal-crear-usuario .contenedor-formulario form{
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#modal-crear-usuario .contenedor-formulario form div{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 5px;
}

#modal-crear-usuario .contenedor-formulario form div input,
#modal-crear-usuario .contenedor-formulario form div select{
    padding: 5px;
    width: 90%;
    border: 1px solid #33333348;
    border-radius: 7px;
}

#modal-crear-usuario .contenedor-formulario form div input[type=submit]{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(57, 141, 252);
    color: white;
}


.contenedor-btn-cerrar{
    width: 100%;
    text-align: right;
}

#btn-cerrar-dialogo{
    border: none;
    text-align: right;
    background-color: inherit;
    text-decoration: underline;
    cursor: pointer;
}