<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'restablecer_contrasenia' uidb64=uidb64 token=token %}" method="post">
        {% csrf_token %}
        <div>
            <label for="">Nueva contraseña</label>
            <input type="password" name="nueva-contrasenia" id="">
        </div>
        <div>
            <label for="">Repetir contraseña</label>
            <input type="password" name="nueva-contrasenia-repetida" id="">
        </div>
        <div>
            <input type="submit" value="Cambiar contraseña">
        </div>
    </form>
</body>
</html>