<!DOCTYPE html>
<html>

<head>
    <title>Restablecer Contraseña</title>
</head>

<body>
    <p>Hola <span style="font-weight: bold;">{{ usuario.first_name }} {{ usuario.last_name }}</span></p>
    <p>Recibiste este correo porque solicitaste restablecer la contraseña de tu cuenta en nuestro sitio.</p>
    <p>Por favor, haz clic en el siguiente enlace para restablecer tu contraseña:</p>
    <a href="{{ reset_url }}">cambiar contraseña</a>
    <p>Si no solicitaste este restablecimiento de contraseña, ignora este correo.</p>
    <p>Atentamente,<br>El equipo de nuestro sitio</p>
</body>

</html>